html, body {
    background-image: linear-gradient(to top right, yellow, orange, pink, white);
    font-family: Arial, sans-serif;
    height: 100%; /* ensures the gradient covers the full height of the viewport */
}

h1 {
    font-size: 48px;
    color: rgb(0, 157, 255);
    font-style: italic;
    font-family: "Sans-Serif";
    text-align: center;
}

table {
    width: 85%;
    border-collapse: collapse; /* Ensures borders don't double up */
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff; /* Added to give a white background */
}

th, td {
    padding: 15px;
    border: 2px solid black !important; /* This sets a border around the table, headers, and cells */
    text-align: center;
}

th {
    background-color: #4CAF50; /* Adjusted to match the color provided earlier */
    color: white;
}

thead {
    background-color: #68cf80; 
}

tbody, tr {
    background-color: #D3D3D3; /* light gray */
}
